body {
  margin: 0;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.item {
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid silver;
}

.item:last-child {
  border-bottom: none;
}

h2 {
  margin: 5px;
}

p {
  line-height: 1.6;
}

