body {
  margin: 0;
}

ul {
  list-style: none;
}

.title {
  font-weight: bold;
}

li {
  border-bottom: 1px solid #eee;
  margin-top: 10px;
}

li:last-of-type {
  border-bottom:none;
}

img {
  margin-right: 10px;
  width: 80px;
  height: 80px;
  float: left
}


